{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!
{% endblock %}

{% block body %}
	


	<div class="container  "  style="margin-top: 123px; margin-left: 189px;">

	{{form(form)}}

		
	
</div>

{% endblock %}
